# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Nightwatch Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    defaults:
      run:
        working-directory: /home/runner/work/PIE_tools/PIE_tools/nightwatch
  
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    - run: npm install package-lock.json
      working-directory: /home/runner/work/PIE_tools/PIE_tools/nightwatch
    - run: npm init nightwatch --config nightwatch.conf.js
      working-directory: /home/runner/work/PIE_tools/PIE_tools/nightwatch
    - run: npx nightwatch ./tests/snow_run_command.js
      working-directory: /home/runner/work/PIE_tools/PIE_tools/nightwatch
